@import '../../scss/colors.scss';

.loginPage {
  display: flex;
  background-color: #f4f9fd;
  min-width: 100vw;
  min-height: 100vh;
  
  .gradient {
    flex: 55;
    padding: 111px 47px;
    display: flex;
    align-items: end;
    background: linear-gradient(0deg, #010511 0%, #071649 50%, #010511 100%);

    p {
      color: white;
      width: 55%;
      font-size: 48px;
      line-height: 58px;
      font-style: italic;
      font-weight: 300;
    }
  }
  .right{
    flex: 45;
    padding: 32px;
    
    form{
      width: 100%;
      max-width: 400px;
    }
    .heading{
      font-size: 36px;
      font-weight: 600;
      line-height: 44px;
      margin-bottom: 62px;
    }
    .inputBox{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid black;
      height: 40px;
      margin-bottom: 56px;
      padding-right: 10px;
      gap: 10px;

      &:nth-last-of-type(2){
        margin-bottom: 47px;
      }
      input{
        flex-grow: 1;
        background: transparent;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        outline: 0;

        &::placeholder{
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          color: #4e4e4e;
        }
      }
    }
    .loginBtn{
      width: 100%;
      padding: 8px 0;
      font-size: 20px;
      line-height: 24px;
      background: $light-blue;
      color: #fff;
      font-weight: 600;
      border-radius: 4px;
      margin-bottom: 53px;
    }
    .links{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      color: $light-blue;
    }
  }
}